In [1]:
import pandas as pd
import os
import unidecode

In [2]:
# Link to get the census data
# https://factfinder.census.gov/bkmk/table/1.0/en/PEP/2017/PEPANNRES/0400000US72.05000

In [3]:
os.system("unzip data/PEP_2017_PEPANNRES.zip -d data/")

0

In [4]:
data = pd.read_csv("data/PEP_2017_PEPANNRES.csv", encoding='latin-1')
data.head()

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017
0,0500000US72001,72001,"Adjuntas Municipio, Puerto Rico",19483,19483,19472,19297,19116,19019,18798,18560,18276,17971
1,0500000US72003,72003,"Aguada Municipio, Puerto Rico",41959,41959,41913,41532,41107,40707,40135,39539,38853,38118
2,0500000US72005,72005,"Aguadilla Municipio, Puerto Rico",60949,60949,60766,59976,58978,58036,57078,55808,54525,53164
3,0500000US72007,72007,"Aguas Buenas Municipio, Puerto Rico",28659,28659,28652,28333,28052,27782,27350,26913,26382,25850
4,0500000US72009,72009,"Aibonito Municipio, Puerto Rico",25900,25900,25874,25537,25205,24879,24448,24040,23566,23108

In [5]:
municipalities = []

for i in range(0, 78):
    muni_raw = data['GEO.display-label'][i].split(" Municipio, Puerto Rico")[0]
    muni_clean = unidecode.unidecode(muni_raw)
    muni_upper = muni_clean.upper()
    municipalities.append(muni_upper)
    
data['ResidencePlace'] = municipalities

In [6]:
data_processed = data[['ResidencePlace', 'respop72017']]
data_processed.head()

  ResidencePlace  respop72017
0       ADJUNTAS        17971
1         AGUADA        38118
2      AGUADILLA        53164
3   AGUAS BUENAS        25850
4       AIBONITO        23108

In [7]:
data_processed.to_csv("data/census.csv")

In [8]:
os.system("rm data/PEP_2017_PEPANNRES.csv data/PEP_2017_PEPANNRES_metadata.csv data/PEP_2017_PEPANNRES.txt data/aff_download_readme.txt")

0