In [3]:
import pandas as pd
import os

In [4]:
os.system("wget --output-document='data/mortality.xlsx' 'https://www.dropbox.com/s/k4wrb1ztwu0fwxh/Base%20de%20Datos%20Mortalidad%20en%20PR%20de%20septiembre%2018%20de%202017%20a%2011%20de%20junio%20de%202018%20entregada%20por%20Gobierno%20de%20PR%20al%20CPI.xls?dl=0'")

0

In [5]:
data = pd.read_excel("data/mortality.xlsx")
data.head()

,DeathNumber,Volumen,CertificateNumber,InscriptionYear,RegistryOffice,RegistrationDate,RegistrationDate_Year,RegistrationDate_Month,RegistrationDate_Day,Name,...,FuneralDate,FuneralDate_Year,FuneralDate_Month,FuneralDate_Day,DispositionName,DispositionPlace,FuneralFacilityName,FuneralFacilityLicenseNumber,FuneralFacilityPlace,FuneralFacilityDirectorName
0,20099,34,186,2017,88 - COAMO,2017-09-26,2017,9,26,GLORIA,...,2017-09-22 00:00:00,2017.0,9.0,22.0,PORTA COELI CREMATION PLUS,"BAYAMON, PUERTO RICO",FUNERARIA COAMEÑA,NaN,"COAMO, PUERTO RICO",DANIEL DIAZ AQUINIO
1,20147,34,1286,2017,44 - BAYAMON,2017-10-03,2017,10,3,MARISOL,...,2017-09-30 00:00:00,2017.0,9.0,30.0,MONTE CALVARIO,"CAGUAS, PUERTO RICO",FUNERARIA ALTERNATIVE,NaN,"BAYAMON, PUERTO RICO",HECTOR COLON
2,20160,34,1085,2017,1 - NIVEL CENTRAL,2017-10-03,2017,10,3,RAMON,...,2017-09-26 00:00:00,2017.0,9.0,26.0,MUNICIPAL NUEVO,"ARECIBO, PUERTO RICO",GONZALEZ,NaN,"ARECIBO, PUERTO RICO",ROLANDO VELEZ MENDEZ
3,20168,34,1089,2017,1 - NIVEL CENTRAL,2017-10-03,2017,10,3,GLORIA,...,2017-09-26 00:00:00,2017.0,9.0,26.0,NUEVO JERUSALEN,"UTUADO, PUERTO RICO",UTUADO MEMORIAL,NaN,"UTUADO, PUERTO RICO",OLGA SAVEDA
4,20169,34,1297,2017,44 - BAYAMON,2017-10-03,2017,10,3,LUIS,...,2017-09-30 00:00:00,2017.0,9.0,30.0,NEW HORIZONS,"BAYAMON, PUERTO RICO",FUNERARIA ASENCIO,NaN,"BAYAMON, PUERTO RICO",MELVIN PORTALATIN MONTALVO

In [6]:
data = data[data.ResidencePlace.str.contains('PUERTO RICO')]
data = data[data.ResidencePlace != 'PUERTO RICO, DESCONOCIDO']
data = data[data.ResidenceZone != 'DESCONOCIDO']

In [7]:
df_grp = data.groupby(['ResidencePlace', 'ResidenceZone']).size().reset_index(name='Deaths')
df_grp.head()

           ResidencePlace ResidenceZone  Deaths
0   PUERTO RICO, ADJUNTAS         RURAL      63
1   PUERTO RICO, ADJUNTAS        URBANO      50
2     PUERTO RICO, AGUADA         RURAL     165
3     PUERTO RICO, AGUADA        URBANO      37
4  PUERTO RICO, AGUADILLA         RURAL     320

In [8]:
municipalities = df_grp.ResidencePlace.tolist()

for i in range(0,len(municipalities)):
    municipalities[i] = municipalities[i].split("PUERTO RICO, ")[1]

In [9]:
df_grp.ResidencePlace = pd.Series(municipalities)
df_grp.head()

  ResidencePlace ResidenceZone  Deaths
0       ADJUNTAS         RURAL      63
1       ADJUNTAS        URBANO      50
2         AGUADA         RURAL     165
3         AGUADA        URBANO      37
4      AGUADILLA         RURAL     320

In [10]:
df_grp.to_csv("data/mortality_grouped.csv")